.page-container {
    text-align: center;
}

.first-block-floor {
    background-image: url('/public/assets/flooring-installer.png');
    background-size: cover;
    background-position: bottom;
    max-width: 100%;
    max-height: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.first-block-floor button {
    width: 150px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.2s;
    animation: bounce 1.5s infinite;
  }
    
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

.first-block-floor h3 {
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.second-block {
    margin: 0 auto;
    margin-top: 40px;
}

.second-block h1 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.second-block h1::after {
    content: '';
    display: block;
    width: 120px;
    height: 2px;
    background-color: #999999;
    margin: 0 auto;
}

.second-block h2 {
    font-size: 16px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
}

.gallery-container img {
    margin: 0 auto;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.589);
    max-width: 100%;
    width: 400px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.components-container {
    padding-top: 50px;
    padding-bottom: 20px;
}

.social-medias {
    font-size: 50px;
    cursor: pointer;
    margin-bottom: 20px;
}

.see-more-projects h2 {
    margin-top: 40px;
    font-size: 16px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    text-align: center;
}

.sliders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

@media (min-width: 768px) {
    .gallery-container {
        display: flex;
    }
}